CREATE DATABASE [NHTC]
USE [NHTC]
GO
/****** Object:  Table [dbo].[CHITIETCOMBO]    Script Date: 17/04/2021 10:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETCOMBO](
	[MACOMBO] [varchar](10) NOT NULL,
	[MAMON] [varchar](10) NOT NULL,
	[SL] [int] NULL,
 CONSTRAINT [PK_CHITIETCOMBO] PRIMARY KEY CLUSTERED 
(
	[MACOMBO] ASC,
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETPHIEUDATTIEC]    Script Date: 17/04/2021 10:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUDATTIEC](
	[MAPHIEU] [varchar](10) NOT NULL,
	[MACOMBO] [varchar](10) NOT NULL,
	[SOLUONGBAN] [int] NULL,
	[TENCODAU] [nvarchar](50) NULL,
	[TENCHURE] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHITIETPHIEUDATTIEC] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC,
	[MACOMBO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMBO]    Script Date: 17/04/2021 10:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMBO](
	[MACOMBO] [varchar](10) NOT NULL,
	[TENCOMBO] [nvarchar](100) NULL,
	[GIA] [float] NULL,
 CONSTRAINT [PK_COMBO] PRIMARY KEY CLUSTERED 
(
	[MACOMBO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 17/04/2021 10:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [varchar](10) NOT NULL,
	[TENDV] [nvarchar](50) NULL,
	[DONGIA] [float] NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 17/04/2021 10:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](100) NULL,
	[GIOITINH] [nvarchar](3) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[DIENTHOAI] [varchar](10) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHUVUC]    Script Date: 17/04/2021 10:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHUVUC](
	[MAKV] [varchar](10) NOT NULL,
	[TENKV] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHUVUC] PRIMARY KEY CLUSTERED 
(
	[MAKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIMONAN]    Script Date: 17/04/2021 10:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIMONAN](
	[MALOAI] [varchar](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAIMONAN] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONAN]    Script Date: 17/04/2021 10:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONAN](
	[MAMON] [varchar](10) NOT NULL,
	[TENMON] [nvarchar](50) NULL,
	[DONGIA] [float] NULL,
	[MALOAI] [varchar](10) NULL,
 CONSTRAINT [PK_MONAN] PRIMARY KEY CLUSTERED 
(
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGAYTOCHUC]    Script Date: 17/04/2021 10:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGAYTOCHUC](
	[ID_DATE] [datetime] NOT NULL,
	[DAY] [int] NULL,
	[MONTH] [int] NULL,
	[YEAR] [int] NULL,
 CONSTRAINT [PK_NGAYTOCHUC] PRIMARY KEY CLUSTERED 
(
	[ID_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 17/04/2021 10:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[DIENTHOAI] [varchar](10) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](3) NULL,
	[NGAYVL] [date] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUDATTIEC]    Script Date: 17/04/2021 10:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUDATTIEC](
	[MAPHIEU] [varchar](10) NOT NULL,
	[MAKH] [int] NULL,
	[MANV] [varchar](10) NULL,
	[MAUD] [varchar](10) NULL,
	[KHUVUC] [varchar](10) NULL,
	[MASANH] [varchar](10) NULL,
	[NGAYDATTIEC] [datetime] NULL,
	[NGAYTOCHUC] [datetime] NULL,
	[TIENDATCOC] [float] NULL,
	[TONGTIEN] [float] NULL,
 CONSTRAINT [PK_PHIEUDATTIEC] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUDICHVU]    Script Date: 17/04/2021 10:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUDICHVU](
	[MAPHIEU] [varchar](10) NOT NULL,
	[MADV] [varchar](10) NOT NULL,
 CONSTRAINT [PK_PHIEUDICHVU] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC,
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANHTIEC]    Script Date: 17/04/2021 10:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANHTIEC](
	[MASANH] [varchar](10) NOT NULL,
	[TENSANH] [nvarchar](20) NULL,
	[SUCCHUA] [int] NULL,
 CONSTRAINT [PK_SANHTIEC] PRIMARY KEY CLUSTERED 
(
	[MASANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UUDAI]    Script Date: 17/04/2021 10:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UUDAI](
	[MAUD] [varchar](10) NOT NULL,
	[TENUD] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](100) NULL,
	[NGAYBD] [date] NULL,
	[NGAYKT] [date] NULL,
 CONSTRAINT [PK_UUDAI] PRIMARY KEY CLUSTERED 
(
	[MAUD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHITIETCOMBO] ([MACOMBO], [MAMON], [SL]) VALUES (N'CB01', N'M01', 10)
INSERT [dbo].[CHITIETCOMBO] ([MACOMBO], [MAMON], [SL]) VALUES (N'CB01', N'M02', 10)
INSERT [dbo].[CHITIETCOMBO] ([MACOMBO], [MAMON], [SL]) VALUES (N'CB02', N'M02', 10)
INSERT [dbo].[CHITIETPHIEUDATTIEC] ([MAPHIEU], [MACOMBO], [SOLUONGBAN], [TENCODAU], [TENCHURE]) VALUES (N'P01', N'CB01', 30, N'Nguyễn Kim Hoa', N'Phạm Đức')
INSERT [dbo].[CHITIETPHIEUDATTIEC] ([MAPHIEU], [MACOMBO], [SOLUONGBAN], [TENCODAU], [TENCHURE]) VALUES (N'P02', N'CB01', 50, N'Kiều Ly Ly', N'Nguyễn Duy ')
INSERT [dbo].[CHITIETPHIEUDATTIEC] ([MAPHIEU], [MACOMBO], [SOLUONGBAN], [TENCODAU], [TENCHURE]) VALUES (N'P03', N'CB03', 40, N'Đoàn Diệp Lê', N'Lê Xuân Diệu')
INSERT [dbo].[COMBO] ([MACOMBO], [TENCOMBO], [GIA]) VALUES (N'CB01', N'COMBO 1
', 10000000)
INSERT [dbo].[COMBO] ([MACOMBO], [TENCOMBO], [GIA]) VALUES (N'CB02', N'COMBO 2
', 15000000)
INSERT [dbo].[COMBO] ([MACOMBO], [TENCOMBO], [GIA]) VALUES (N'CB03', N'COMBO 3
', 12000000)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [DONGIA]) VALUES (N'DV01', N'Cổng hoa tươi', 800000)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [DONGIA]) VALUES (N'DV02', N'Thiệp cưới', 1000000)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [DONGIA]) VALUES (N'DV03', N'Tượng đá hoa đăng', 1000000)
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [GIOITINH], [DIACHI], [DIENTHOAI]) VALUES (1, N'Nguyễn Nhi', N'Nữ', N'TP. HCM', N'0952102357')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [GIOITINH], [DIACHI], [DIENTHOAI]) VALUES (2, N'Ngô Hoàng ', N'Nam', N'TP. HCM', N'0150278541')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [GIOITINH], [DIACHI], [DIENTHOAI]) VALUES (3, N'Triệu Thị Trang', N'Nữ', N'TP. HCM
', N'0987410256')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
INSERT [dbo].[KHUVUC] ([MAKV], [TENKV]) VALUES (N'KV003', N'HÀ NỘI')
INSERT [dbo].[LOAIMONAN] ([MALOAI], [TENLOAI]) VALUES (N'L01', N'Món khai vị
')
INSERT [dbo].[LOAIMONAN] ([MALOAI], [TENLOAI]) VALUES (N'L02', N'Món soup
')
INSERT [dbo].[LOAIMONAN] ([MALOAI], [TENLOAI]) VALUES (N'L03', N'Món ăn nhẹ
')
INSERT [dbo].[MONAN] ([MAMON], [TENMON], [DONGIA], [MALOAI]) VALUES (N'M01', N'Bánh mì khai vị', 200000, N'L01')
INSERT [dbo].[MONAN] ([MAMON], [TENMON], [DONGIA], [MALOAI]) VALUES (N'M02', N'Gỏi ngó sen tôm càng
', 200000, N'L01')
INSERT [dbo].[MONAN] ([MAMON], [TENMON], [DONGIA], [MALOAI]) VALUES (N'M03', N'Súp bong bóng cá thịt bò
', 200000, N'L02')
INSERT [dbo].[NGAYTOCHUC] ([ID_DATE], [DAY], [MONTH], [YEAR]) VALUES (CAST(N'2020-01-01 00:00:00.000' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[NGAYTOCHUC] ([ID_DATE], [DAY], [MONTH], [YEAR]) VALUES (CAST(N'2020-03-03 00:00:00.000' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[NGAYTOCHUC] ([ID_DATE], [DAY], [MONTH], [YEAR]) VALUES (CAST(N'2020-04-17 00:00:00.000' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIENTHOAI], [DIACHI], [NGAYSINH], [GIOITINH], [NGAYVL]) VALUES (N'NV01', N'Nguyễn Hồng Phúc', N'0123123123', N'HÀ NỘI
', CAST(N'2000-12-20' AS Date), N'Nữ', CAST(N'2020-01-01' AS Date))
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIENTHOAI], [DIACHI], [NGAYSINH], [GIOITINH], [NGAYVL]) VALUES (N'NV02', N'Nguyễn Văn A', N'0123547510', N'HÀ NỘI
', CAST(N'2000-01-01' AS Date), N'Nữ', CAST(N'2020-01-01' AS Date))
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIENTHOAI], [DIACHI], [NGAYSINH], [GIOITINH], [NGAYVL]) VALUES (N'NV03', N'Nguyễn Phức Duy', N'0120120324', N'HÀ NỘI
', CAST(N'2000-10-10' AS Date), N'Nam', CAST(N'2020-01-01' AS Date))
INSERT [dbo].[PHIEUDATTIEC] ([MAPHIEU], [MAKH], [MANV], [MAUD], [KHUVUC], [MASANH], [NGAYDATTIEC], [NGAYTOCHUC], [TIENDATCOC], [TONGTIEN]) VALUES (N'P01', 1, N'NV01', N'UD01', N'KV003', N'S02', CAST(N'2020-01-01 00:00:00.000' AS DateTime), CAST(N'2020-01-01 00:00:00.000' AS DateTime), 1000000, 10000000)
INSERT [dbo].[PHIEUDATTIEC] ([MAPHIEU], [MAKH], [MANV], [MAUD], [KHUVUC], [MASANH], [NGAYDATTIEC], [NGAYTOCHUC], [TIENDATCOC], [TONGTIEN]) VALUES (N'P02', 3, N'NV01', N'UD02', N'KV003', N'S04', CAST(N'2019-01-01 00:00:00.000' AS DateTime), CAST(N'2020-01-01 00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[PHIEUDATTIEC] ([MAPHIEU], [MAKH], [MANV], [MAUD], [KHUVUC], [MASANH], [NGAYDATTIEC], [NGAYTOCHUC], [TIENDATCOC], [TONGTIEN]) VALUES (N'P03', 3, N'NV02', N'UD03', N'KV003', N'S03', CAST(N'2019-04-17 00:00:00.000' AS DateTime), CAST(N'2020-04-17 00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[SANHTIEC] ([MASANH], [TENSANH], [SUCCHUA]) VALUES (N'S01', N'SẢNH 1', 200)
INSERT [dbo].[SANHTIEC] ([MASANH], [TENSANH], [SUCCHUA]) VALUES (N'S02', N'SẢNH 2', 300)
INSERT [dbo].[SANHTIEC] ([MASANH], [TENSANH], [SUCCHUA]) VALUES (N'S03', N'SẢNH 3', 400)
INSERT [dbo].[UUDAI] ([MAUD], [TENUD], [GHICHU], [NGAYBD], [NGAYKT]) VALUES (N'UD01', N'Tặng bàn', NULL, CAST(N'2021-01-01' AS Date), CAST(N'2021-01-02' AS Date))
INSERT [dbo].[UUDAI] ([MAUD], [TENUD], [GHICHU], [NGAYBD], [NGAYKT]) VALUES (N'UD02', N'Tặng bia', NULL, CAST(N'2021-01-01' AS Date), CAST(N'2021-01-02' AS Date))
INSERT [dbo].[UUDAI] ([MAUD], [TENUD], [GHICHU], [NGAYBD], [NGAYKT]) VALUES (N'UD03', N'Tặng chụp hình', NULL, CAST(N'2021-01-01' AS Date), CAST(N'2021-03-02' AS Date))
ALTER TABLE [dbo].[CHITIETCOMBO]  WITH CHECK ADD  CONSTRAINT [FK_CTCB_CB] FOREIGN KEY([MACOMBO])
REFERENCES [dbo].[COMBO] ([MACOMBO])
GO
ALTER TABLE [dbo].[CHITIETCOMBO] CHECK CONSTRAINT [FK_CTCB_CB]
GO
ALTER TABLE [dbo].[CHITIETCOMBO]  WITH CHECK ADD  CONSTRAINT [FK_CTCB_MONAN] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MONAN] ([MAMON])
GO
ALTER TABLE [dbo].[CHITIETCOMBO] CHECK CONSTRAINT [FK_CTCB_MONAN]
GO
ALTER TABLE [dbo].[CHITIETPHIEUDATTIEC]  WITH CHECK ADD  CONSTRAINT [FK_CTPDT_CB] FOREIGN KEY([MACOMBO])
REFERENCES [dbo].[COMBO] ([MACOMBO])
GO
ALTER TABLE [dbo].[CHITIETPHIEUDATTIEC] CHECK CONSTRAINT [FK_CTPDT_CB]
GO
ALTER TABLE [dbo].[CHITIETPHIEUDATTIEC]  WITH CHECK ADD  CONSTRAINT [FK_CTPDT_PDT] FOREIGN KEY([MAPHIEU])
REFERENCES [dbo].[PHIEUDATTIEC] ([MAPHIEU])
GO
ALTER TABLE [dbo].[CHITIETPHIEUDATTIEC] CHECK CONSTRAINT [FK_CTPDT_PDT]
GO
ALTER TABLE [dbo].[MONAN]  WITH CHECK ADD  CONSTRAINT [FK_MONAN_LOAIMONAN] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIMONAN] ([MALOAI])
GO
ALTER TABLE [dbo].[MONAN] CHECK CONSTRAINT [FK_MONAN_LOAIMONAN]
GO
ALTER TABLE [dbo].[PHIEUDATTIEC]  WITH CHECK ADD  CONSTRAINT [FK_PDT_KH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUDATTIEC] CHECK CONSTRAINT [FK_PDT_KH]
GO
ALTER TABLE [dbo].[PHIEUDATTIEC]  WITH CHECK ADD  CONSTRAINT [FK_PDT_KV] FOREIGN KEY([KHUVUC])
REFERENCES [dbo].[KHUVUC] ([MAKV])
GO
ALTER TABLE [dbo].[PHIEUDATTIEC] CHECK CONSTRAINT [FK_PDT_KV]
GO
ALTER TABLE [dbo].[PHIEUDATTIEC]  WITH CHECK ADD  CONSTRAINT [FK_PDT_NTC] FOREIGN KEY([NGAYTOCHUC])
REFERENCES [dbo].[NGAYTOCHUC] ([ID_DATE])
GO
ALTER TABLE [dbo].[PHIEUDATTIEC] CHECK CONSTRAINT [FK_PDT_NTC]
GO
ALTER TABLE [dbo].[PHIEUDATTIEC]  WITH CHECK ADD  CONSTRAINT [FK_PDT_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUDATTIEC] CHECK CONSTRAINT [FK_PDT_NV]
GO
ALTER TABLE [dbo].[PHIEUDATTIEC]  WITH CHECK ADD  CONSTRAINT [FK_PDT_ST] FOREIGN KEY([MASANH])
REFERENCES [dbo].[SANHTIEC] ([MASANH])
GO
ALTER TABLE [dbo].[PHIEUDATTIEC] CHECK CONSTRAINT [FK_PDT_ST]
GO
ALTER TABLE [dbo].[PHIEUDATTIEC]  WITH CHECK ADD  CONSTRAINT [FK_PDT_UD] FOREIGN KEY([MAUD])
REFERENCES [dbo].[UUDAI] ([MAUD])
GO
ALTER TABLE [dbo].[PHIEUDATTIEC] CHECK CONSTRAINT [FK_PDT_UD]
GO
ALTER TABLE [dbo].[PHIEUDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_PDV_DV] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[PHIEUDICHVU] CHECK CONSTRAINT [FK_PDV_DV]
GO
ALTER TABLE [dbo].[PHIEUDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_PDV_PDT] FOREIGN KEY([MAPHIEU])
REFERENCES [dbo].[PHIEUDATTIEC] ([MAPHIEU])
GO
ALTER TABLE [dbo].[PHIEUDICHVU] CHECK CONSTRAINT [FK_PDV_PDT]
GO
